
<div class="container">
     <header>

    </header>
    <nav class="navbar navbar-expand-sm p-3 my-3">
        <a class="navbar-brand" href="/"><h5>Home</h5></a>
    </nav>
    <main>
        <br><br>
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" >
                <div>
                    <h5>Register below</h5>
                </div>
                <br>
                <div>
                    {{#if success_msg}}
                        {{success_msg}}
                    {{/if}}

                    {{#if error_msg}}
                        {{error_msg}}
                    {{/if}}

                    {{#if error}}
                        {{error}}
                    {{/if}}
                </div>

                <div>
                    {{#if errors}}
                        {{#if errors.name}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{errors.name}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{/if}}
                        {{#if errors.email}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{errors.email}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{/if}}
                        {{#if errors.password}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{errors.password}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{/if}}
                        {{#if errors.confirmpassword}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{errors.confirmpassword}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{/if}}
                    {{/if}}
                </div>

                <div class="" id="register__patient">
                    <br><br>
                    <br><br><br>
                    <form action="/user/register" method="POST" class="">
                    <div class="form-group col-md">
                        <label for="name"> Name:</label>
                        <input type="text" class="form-control" name="name" placeholder="" id=""><br>
                    </div>
               
                    <div class="form-group col-md">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" placeholder="" id=""><br>
                    </div>
                    <div class="form-group col-md">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="" id=""><br>
                    </div>
                    <div class="form-group col-md">
                        <label for="confirm password">Confirm Password:</label>
                        <input type="password" class="form-control" name="confirmpassword" placeholder="" id=""><br>
                    </div>
                    <div class="form-group col-md">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
                
                <div>Already registered?<a class="nav-link" href="/user/login">Log In</a></div>
                
        </div>
    </div>
   </div>
        
    
<br><br><br><br>
</div>
    
    



